<% if @tasks.empty? %>
    <h2>Currently there's no pending tasks</h2>
<%else%>
    <h2>Currently pending:</h2>


    <%= render partial: 'table', locals: {tasks: @tasks} %>

    <button type = "button"></button>

<%end%>