<h1>Search result</h1>
<% if @tasks.size == 0 %>
    <h2>Currently there's no tasks that match search criteria</h2>
<% else %>
    <%= form_tag({:controller => "tasks", :action => "search"}, method: :get) do %>
        <%= text_field_tag :name %>
        <%= submit_tag 'Search task by name', name: nil %>
    <% end %>


    <%= render partial: 'table', locals: {tasks: @tasks} %>

<% end %>